
*.~1~
__history/ORM.dpr.~2~
__history/ORM.dpr.~3~
__history/ORM.dpr.~4~
__history/UCadastroAlunos.dfm.~26~
__history/UCadastroAlunos.dfm.~27~
__history/UCadastroAlunos.dfm.~28~
__history/UCadastroAlunos.dfm.~29~
__history/UCadastroAlunos.dfm.~30~
__history/UCadastroAlunos.dfm.~31~
__history/UCadastroAlunos.dfm.~32~
__history/UCadastroAlunos.dfm.~33~
__history/UCadastroAlunos.dfm.~34~
__history/UCadastroAlunos.dfm.~35~
__history/UCadastroAlunos.pas.~39~
__history/UCadastroAlunos.pas.~40~
__history/UCadastroAlunos.pas.~41~
__history/UCadastroAlunos.pas.~42~
__history/UCadastroAlunos.pas.~43~
__history/UCadastroAlunos.pas.~44~
__history/UCadastroAlunos.pas.~45~
__history/UCadastroAlunos.pas.~46~
__history/UCadastroAlunos.pas.~47~
__history/UCadastroAlunos.pas.~48~
__history/UController.pas.~25~
__history/UController.pas.~26~
__history/UController.pas.~27~
__history/UController.pas.~28~
__history/UController.pas.~29~
__history/UController.pas.~30~
__history/UController.pas.~31~
__history/UController.pas.~32~
__history/UController.pas.~33~
__history/UController.pas.~34~
__history/UORMAluno.pas.~10~
__history/UORMAluno.pas.~11~
__history/UORMAluno.pas.~12~
__history/UORMAluno.pas.~13~
__history/UORMAluno.pas.~14~
__history/UORMAluno.pas.~15~
__history/UORMAluno.pas.~16~
__history/UORMAluno.pas.~7~
__history/UORMAluno.pas.~8~
__history/UORMAluno.pas.~9~
__history/UORMGeral.pas.~2~
__history/UORMGeral.pas.~3~
__history/UORMGeral.pas.~4~
__history/UORMGeral.pas.~5~
*.dcu
*.~49~
*.~36~
*.~5~
*.local
*.stat
